<div class="container">
<h2 class="mb-3" style="margin-top:5rem">Log in</h2>


<div style="margin-bottom:18rem">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group">
    <%= f.label :email%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control",placeholder:"Enter @gmail.com" %>
  </div>

  <div class="field  form-group mt-4">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password",class:"form-control",placeholder:"Enter password"  %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field mt-2 mb-2">
      <%= f.check_box :remember_me ,style:"background-color:#f36100"%>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions mb-3">
    <%= f.submit "Log in" ,class:"btn btn-danger"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>


</div>



